.container {
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
}

.mt-5 {
    margin-top: 3rem;
}

.mb-3 {
    margin-bottom: 1rem;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    display: inline-block;
}

.btn-primary:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #f5f5f5;
}

/* Optional: Responsive table styling */
@media (max-width: 768px) {
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    th {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
        margin-bottom: 0.625em;
        display: block;
    }

    td {
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        text-align: right;
    }

    td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 10px;
        font-weight: bold;
        white-space: nowrap;
    }
}

form .form-select,
form .form-control {
    min-width: 150px;
}
form a,
form button {
    white-space: nowrap;
}
.form-bar {
    background-color: #f98c93; /* Warna pink pastel */
    border: 1px solid #f98c93; /* Border warna lebih gelap */
    border-radius: 8px; /* Membuat sudut melengkung */
    padding: 15px; /* Memberikan jarak di dalam elemen */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sedikit bayangan */
}
